.settings
.project
logs
app/temp
app/controller/jira.php
app/controller/dashboard.php
app/controller/user.php
app/model/user.php
app/view/_main/backend.tpl
app/view/_main/backend.tpl
app/view/login/index.tpl
app/view/_main/includes
app/view/dashboard
app/view/user
app/view/jira
public/raw_theme
public/theme
/NetBeansMeta/nbproject/private/
/NetBeansMeta/
