body{
	background-color:#6FAF66;
}

.m-top-5{margin-top:5px;}
.m-top-10{margin-top:10px;}
.m-top-15{margin-top:15px;}
.m-top-20{margin-top:20px;}
.m-top-25{margin-top:25px;}
.m-top-30{margin-top:30px;}

.p-top-5{padding-top:5px;}
.p-top-10{padding-top:10px;}
.p-top-15{padding-top:15px;}
.p-top-20{padding-top:20px;}
.p-top-25{padding-top:25px;}
.p-top-30{padding-top:30px;}

.form-login input[type="email"]{
	border-radius:4px 4px 0 0;
}

.form-login input[type="password"]{
	border-radius:0 0 4px 4px;
}

.form-login .form-submit{
	width:100%;
}